@media screen and (max-width: 576px) {
  
    header{
      flex-direction: column;
      margin-top: 1rem;
      width: 90vw;
    }
    header .logo{
        column-gap: 0.6rem;
    }
    .bar{
        display: block;
        
    }
    .logo img{
        height: 30px;
        width: 30px;
        padding: 0;

    }
    header .logo .logo-title {
      font-size: 1rem;
      padding-right: 5.8rem;
      padding-left: 0;
    }
    nav{
      display: none;
    }
    .banner{
        max-height: 500px;
        max-width: 350px;
        margin-top: 1rem;
        background-size: cover;
        background-position: center;
    }
    
    .banner-title{
      font-size: 1.5rem;
    }
    .banner-description{
      font-size: 0.8rem;
      line-height: 1.313rem;
      padding: 1rem;
    }
    .booking-form{
      flex-direction: column;
    }
    .booking-form{
      padding: 1rem;
    }
    .when, .select-type{
      margin: 0;
      padding: 0;
    }
    .find-now{
     margin: 0;
     padding: 1rem 4.5rem 1rem 0;
    }
    .search-icon{
        position: absolute;
      left: 3.4rem;
      right: 0;
      bottom: 0rem;
      top: -2.3rem;
    }
    .down-arrow{
        position: absolute;
      top: 2.3rem;
      left: 11rem;
      right: 0;
    }
  }