@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");

/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  padding: 1rem 2.2rem;
}
.section-description{
  color: rgba(19, 19, 24, 0.70);
font-size: 1rem;
font-weight: 400;
line-height: 1.625rem; /* 162.5% */
}

.section-heading-title{
  color: #131318;
text-align: center;
font-size: 2.5rem;
font-weight: 800;
}

.section-title{
  font-weight: 700;
}

.card-description{
  color: #5A5A5D;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 162.5% */
}
/* header styles */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 6.25rem;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
}

/* logo styles */
.logo-container {
  display: flex;
  align-items: center;
}

.header-title {
  padding-left: 1rem;
  font-size: 2.25rem;
  font-weight: 800;
  color: #131318;
}
.title-span {
  color: #ff5400;
}

/* bar styles */
.bar {
  display: none;
  cursor: pointer;
}

/* nav styles */
nav {
  width: 510px;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 1.125rem;
  color: #424247;
}

nav ul li a {
  text-decoration: none;
  color: #424247;
}
nav ul li a.home {
  font-weight: 700;
}

/* banner styles */

.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0.3) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 680px;
  padding-top: 6.25rem;
}
.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
}
.banner-description {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.625rem; /* 162.5% */
  padding-bottom: 2.5rem;
}

/* banner inputs styles */
.banner-inputs {
  padding-top: 0;
  margin-bottom: 6.25rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.banner-inputs input {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 8px;
  border: 0;
}
.banner-inputs select {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 6.875rem 1rem 1rem;
  border-radius: 8px;
  border: 0;
}
#header-input-btn {
  border: 0;
  padding: 1rem 2.125rem 1rem 4.125rem;
  margin-right: 1rem;
}

/* main styles */
main {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 6.25rem;
}
main section{
  margin-bottom: 6.25rem;
}
/* Our Popular Tours section styles */
.our-popular-tours{
  display: flex;
  align-items: center;
  justify-content: space-around;

  
}
.our-popular-tours-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 45%;
  /* background-color: red; */
}
.our-popular-tours-content ul{
  padding-left: 1.3rem;
}

.our-popular-tours-content ul li{
  padding: 1.2rem 0;
}

.our-popular-tours-content ul li h2{
  padding-bottom: 1rem;
}


.our-popular-section-heading-title{
  color: #131318;
text-align: center;
font-size: 2.5rem;
font-weight: 800;
padding-bottom: 2rem;
}
.our-popular-section-card-description{
  padding-bottom: 2.3rem;
}
.our-popular-tours-img{
  width: 45%;
  height: 100%;
  /* background-color: red; */
}
.our-popular-tours-img img{
  width: 100%;
  height: 100%;
}


/* choose-destination section styles */
.choose-destination{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.choose-destination-section-heading-title{
  padding-bottom: 1.5rem;
}

.choose-destination-img-gallary{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.choose-destination-img-gallary img{
  width: 100%;
  height: 100%;
}
.grid-item-1{
  grid-column: 1/span 6;
}