@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");

/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  padding: 1rem 2.2rem;
}
.section-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}

.section-heading-content {
  width: 643px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin-bottom: 3.125rem;
}

.section-heading-title {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;

  padding-bottom: 1.5rem;
}

.section-title {
  font-weight: 700;
}

.card-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}

.card-description {
  color: #5a5a5d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}
/* header styles */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 6.25rem;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
}

/* logo styles */
.logo-container {
  display: flex;
  align-items: center;
}

.header-title {
  padding-left: 1rem;
  font-size: 2.25rem;
  font-weight: 800;
  color: #131318;
}
.title-span {
  color: #ff5400;
}

/* bar styles */
.bar {
  display: none;
  cursor: pointer;
}

/* nav styles */
nav {
  width: 510px;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 1.125rem;
  color: #424247;
}

nav ul li a {
  text-decoration: none;
  color: #424247;
}
nav ul li a.home {
  font-weight: 700;
}

/* banner styles */

.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0.3) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 680px;
  padding-top: 6.25rem;
}
.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
}
.banner-description {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.625rem; /* 162.5% */
  padding-bottom: 2.5rem;
}

/* banner inputs styles */
.banner-inputs {
  padding-top: 0;
  margin-bottom: 6.25rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.banner-inputs input {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 8px;
  border: 0;
}
.banner-inputs select {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem 6.875rem 1rem 1rem;
  border-radius: 8px;
  border: 0;
}
#header-input-btn {
  border: 0;
  padding: 1rem 2.125rem 1rem 4.125rem;
  margin-right: 1rem;
}

/* main styles */
main {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 6.25rem;
}
main section {
  margin-bottom: 6.25rem;
}
/* Our Popular Tours section styles */
.our-popular-tours {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.our-popular-tours-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 45%;
  /* background-color: red; */
}
.our-popular-tours-content ul {
  padding-left: 1.3rem;
}

.our-popular-tours-content ul li {
  padding: 1.2rem 0;
}

.our-popular-tours-content ul li h2 {
  padding-bottom: 1rem;
}

.our-popular-section-heading-title {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  padding-bottom: 2rem;
}
.our-popular-section-card-description {
  padding-bottom: 2.3rem;
}
.our-popular-tours-img {
  width: 45%;
  height: 100%;
  /* background-color: red; */
}
.our-popular-tours-img img {
  width: 100%;
  height: 100%;
}

/* choose-destination section styles */
.choose-destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choose-destination-content {
  width: 643px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  justify-self: center;
  text-align: center;
  margin-bottom: 1.2rem;
}

.choose-destination-section-heading-title {
  padding-bottom: 1.5rem;
}
.choose-destination-section-description {
  padding-bottom: 1.5rem;
}

.choose-destination-img-gallary {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
  width: 60%;
}



.grid-item-1,
.grid-item-2 {
  height: 300px;
  width: 100%;
  border-radius: 1rem;
}
.grid-item-3,
.grid-item-4,
.grid-item-5 {
  height: 290px;
  width: 100%;
  border-radius: 1rem;
}
.grid-item-6,
.grid-item-7 {
  height: 300px;
  width: 100%;
  border-radius: 1rem;
}

.grid-item-1 {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), url("../Images/Rectangle\ 5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 1 / span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-item-2 {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), url("../Images/Rectangle\ 8.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 7 / span 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-item-3 {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), url("../Images/Rectangle\ 6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-item-4 {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), url("../Images/Rectangle\ 7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 4 / span 6;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-item-5 {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), url("../Images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 10 / span 3;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-item-6 {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), url("../Images/Rectangle\ 11.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 1 / span 5;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-item-7 {
  background-image: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), url("../Images/Rectangle\ 10.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 6 / span 7;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-name {
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}


.choose-destination-img-gallary .choose-destination-imges{
  transition: all 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
}

.choose-destination-img-gallary .choose-destination-imges:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 25px #fff;

}

/* why-us section styles */
.why-us,
.deals-and-discount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.why-us-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotel-icon {
  font-size: 4rem;
  padding-bottom: 2rem;
  padding-top: 1.2rem;
}

.why-us-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.why-us-cards {
  padding: 2rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 600px;
  height: 50vh;
  border-radius: 1rem;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.why-us-world-class-service-card {
  border-radius: 1rem;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.why-us-best-price-card {
  background: rgba(233, 68, 68, 0.05);
}

.why-us-card-title {
  color: #131318;
  font-size: 1.5rem;
}

.why-us-cards-container .card-description {
  text-align: left;
}

/* last min deals section styles */
.last-min-deals{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.last-min-deals-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

.last-min-title{
  padding-bottom: 0.2rem;
}

.last-min-deals-img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
}

.last-min-deals-img-container button{
  width: 70%;
  line-height: 1.3rem;
}

.lm-deals-img{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  row-gap: 0.5rem;
}
.img-background{
  background-image: url("../Images/cox\'s\ bazar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 14.5vw;
  height: 25vh;
  border-radius: 1rem;
}
.lm-deals-img .reviews small b{
  font-weight: 900;
}
.lm-deals-img .reviews{
}
.lm-deals-img .reviews .title-span{
  font-weight: 600;
}
/* deals and discount section styles */
.deals-and-discount {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.deals-discount-content{
  margin-bottom: 0;
}

.deals-and-discount-main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

/* main header */
.deals-and-discount-main-header,
.deals-and-discount-main-footer {
  background-image:linear-gradient(0deg, rgba(19, 19, 24, 0.1) 0%, rgba(19, 19, 24, 0.1) 100%), url("../Images/sajek\ 2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 4rem;
}

.deals-and-discount-card {
  width: 576px;
  border-radius: 1rem;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3.5rem;
  text-align: left;
  border: 3px solid #ff5400;
}

.deals-and-discount-card .price {
  color: #ff5400;
  font-size: 1.25rem;
  font-weight: 800;
  padding-bottom: 1rem;
}

.deals-and-discount-card .icons {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5400;
}

.deals-and-discount-card .icons i{
  padding: 1rem;
}

.deals-and-discount-card .card-title{
  padding: 1.5rem 0 0 0;
}

.deals-and-discount-card .card-description {
  padding: 1rem 0;
}

/* main main */
.deals-and-discount-main-main {
  background-image:linear-gradient(0deg, rgba(19, 19, 24, 0.1) 0%, rgba(19, 19, 24, 0.1) 100%), url("../Images/cox\'s\ bazar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
}
/*deals main footer */
.deals-and-discount-main-footer {
  background-image:linear-gradient(0deg, rgba(19, 19, 24, 0.1) 0%, rgba(19, 19, 24, 0.1) 100%), url("../Images/bandarban\ 1.jpg");
  background-position: left;
}
/* .deals-and-discount-title{
  
font-size: 2.5rem;
font-weight: 800;
} */


/* video section styles */
.video{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;

}
.video-content{
  width: 45%;
  display: flex;
  justify-content: start;
  align-items: start;

  text-align: left;
  flex-direction: column;
}
.video-content .section-heading-title{
  text-align: left;
}

.video-content ul{
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.video-content ul li{
  padding-bottom: 1rem;
}
.video-file{
  width: 45%;
}
.video-file video{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}
.video-file video span{
  z-index: 11;
}
/* newsletter section styles */
.newsletter{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}


.newsletter-content{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 16px;
border: 1px solid #FF5400;
}

.newsletter-title{
  color: #131318;
font-size: 1.5rem;
font-weight: 800;
padding-bottom: 1rem;
}
.newsletter-content .card-description{
  padding-bottom: 1rem;
}
.newsletter-content input[type=text], 
.newsletter-content input[type=email] {
  border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
width: 80%;
padding: 1.2rem 3rem 1rem 1rem;
margin:  1rem 0;
border: 0;

}

.newsletter-content input[type=submit]{
  width: 80%;
}
.newsletter-image{
  background-image: url("../Images/sajek\ 1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 45%;
    height: 40vh;
  border-radius: 1rem;
  display: flex;
  justify-content: end;
  align-items: end;
}

.newsletter-image button{
  
  transform: rotate(335deg);
  translate: -0.1rem -4rem;
}
.newsletter-image button .btn-primary{
  border-radius: 8px;
    background: #ff5400;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    border: 0;
    padding: 1.8rem 2.2rem;
}
.newsletter-image button span.save{
  color: #FFF;
font-size: 32px;
font-weight: 800;
}

.newsletter-content{
  padding: 1rem;
}
.newsletter-content hr{
  width: 90%;
  background: rgba(19, 19, 24, 0.10);
}

/* Meet the Team Section Styles */

.meet-the-team {
  padding: 3rem 0;
  margin-bottom: 5rem;
  border-radius: 1rem;
  width: 100%;
  background-image:linear-gradient(0deg, rgba(19, 19, 24, 0.1) 0%, rgba(19, 19, 24, 0.1) 100%), url("../Images/sajek\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

.meet-the-team-content  {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.meet-the-team-content .section-heading-title{
  color: #fff;
}
.meet-the-team h1 {
  color: #FF5400;
}



.team-member {
  margin-top: 1.5rem;
}



.team-member-name {
  font-size: 1.8rem;
  color: #5a5a5d;
}

.team-member-role {
  font-size: 1.4rem;
  color: #424247;
}

/* footer styles */
footer{
  width: 100%;
  background: rgba(19, 19, 24, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.footer-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 2rem;
}
.footer-header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding-top: 6.9rem;
}
.footer-title{
  color:  #131318;
font-size: 2rem;
font-weight: 800;
}
.footer-description{
  padding-bottom: 1rem;
}

.footer-icons i{
  font-size: 2rem;
  padding: 2rem;
  padding-bottom: 0;
}
footer hr{
  width: 60%;
  background: rgba(19, 19, 24, 0.10);
  margin-bottom: 5rem;
  margin-top: 5rem;

}
.copyright{
  padding-bottom: 6.8rem;
}